@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

section {
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    background-color: #2e3440;
    color: #eceff4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}


.logo {
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header li {
    padding: 16px;
}

.header a {
    color: #eceff4;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #2e3440;
    color: #eceff4;
}

.hero-left {
    width: 45%;
}

.hero img {
    width: 500px;

}

.hero button {
    padding: 8px 24px;
    background-color: #5d80ae;
    color: #eceff4;
    border: 0;
    font-size: 18px;
    border-radius: 10px;
}

.hero-title {
    font-size: 48px;
}

.hero-text {
    color: #d7dfe88e;
    font-size: 18px;
}

.hero-title,
.hero-text {
    padding-bottom: 10px;
}

.main {
    background-color: #eceff4;
    padding-top: 15px;
    padding-bottom: 75px;
}

.main h1 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
}

.main-content fig {
    display: flex;
    flex-direction: column;
}

.main-content .content {
    height: 150px;
    width: 150px;
    border: 3px solid #5d80ae;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.main-content .subtext {
    text-align: center;
    max-width: 150px;
}