@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    background-color: #4c566b;
    color: #d8dee9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}


.logo {
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header li {
    padding: 16px;
}

.header a {
    color: #d8dee9;
    text-decoration: none;
    font-size: 18px;
}